services:
  nginx:
    image: "nginx:alpine"
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - /etc/ssl/certs/homelab.crt:/etc/ssl/certs/homelab.crt
      - /etc/ssl/private/homelab.key:/etc/ssl/private/homelab.key

